{{ define "banner" }}
    <h3 class="display-3">Colleges - Leaderboard</h3>
    <p class="lead mt-0">Based on Student and Enabler activity in ATFG, here is the ranking
        of colleges in Kerala</p>
{{ end }}


{{ define "main" }}
    <section>
        <div class="row">
            {{range .Site.Data.colleges}}
            <div class="card-col col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-header">
                        Rank - {{.rank}}<br>
                    </div>
                    <div class="card-body">
                        <p>{{.collegeName}}</p>
                        <p>Score - {{.score}}</p>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </section>
    {{ .Content }}
{{ end }}

